<template name="View_Letter">
  <div class="container">
    <br>
    <div class="row">

      <div class="col-md-4">
        <br>
        <div class="box__steel">
          <ul class="list-group">
            {{#with letter}}
            <li class="list-group-item clearfix">
              <span class="pull-left">Created by: </span>
              <span class="pull-right">{{lawyer}}</span>
            </li>


            <li class="list-group-item clearfix">
              <span class="pull-left">Created at: </span>
              <span class="pull-right">{{date}}</span>
            </li>

            <li class="list-group-item clearfix">
              <span class="pull-left">Status: </span>
              <span class="pull-right">{{estatus}}</span>
            </li>

            <li class="list-group-item clearfix">
              <span class="pull-left">Client: </span>
              <span class="pull-right">{{client}}</span>
            </li>

            <li class="list-group-item clearfix">
              <span class="pull-left">Amount to Pay: </span>
              <span class="pull-right">$ {{this.total}}</span>
            </li>
            {{/with}}
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="teal">Preview</h4>
        {{>frameLetter}}
        <a href="#"  style="font-size: 13px; width: 90%; margin: 0px auto; padding-top: 15px;" class="btn btn-white signup" name="send">Send to Client</a>
      </div>
    </div>
  </div>
</template>
