<template name="Auth">
  <div class="container-auth">
    <div class="col-6">
      <h3>Logo</h3>

      {{>Template.dynamic template=step}}
    </div>
    {{>splash}}
  </div>
</template>

<template name="splash">
  <div class="col-4">
    <div class="splash">

    </div>
  </div>
</template>

<template name="Auth_Step_1">
  <br><br><br>
  <p class="teal">Welcome.</p>
  <p class="steel">Lorem ipsum dolor sit amet.</p>
  <input type="email" name="email" placeholder="Email" class="input_material auth">
  <a href="/auth_2" class="btn btn-white signup" name="signup">Next</a>
</template>


<template name="Auth_Step_2">
  <p class="teal">Complete your Info.</p>
  <input type="text" name="firm_name" placeholder="Firm Name" class="input_material auth">
  <input type="text" name="name" placeholder="Your Name" class="input_material auth">
  <input type="number" name="phone" placeholder="Your Phone Number" class="input_material auth">
  <input type="password" name="password" placeholder="Password" class="input_material auth">
  <a href="/home" class="btn btn-white signup" name="signup">Signup</a>
</template>
