<template name="Lawyer_Rates">
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4 class="teal"><a href="/new_letter/step_3" class="teal"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Step 5 - Assign Lawyer</h4>
      <select style="border-radius: 0px" class="input_material auth" name="engagement_charge">

        <option value="1">Rate Hourly</option>
        <option value="2">Retainer</option>
        <option value="3">Project</option>
      </select>

      <div class="laws">
        {{#if isHourly}}
        <select style="border-radius: 0px" class="input_material auth" id="lawyer_assigned" name="lawyers">
          {{#each lawyers}}
          <option value="{{this._id}}">{{this.profile.first_name}} {{this.profile.last_name}}</option>
          {{/each}}
        </select>
        {{/if}}
      </div>

      <input type="number" name="amount" placeholder="{{text}}" class="input_material auth">
      <input type="number" name="discount" placeholder="Discount %" class="input_material auth">
      <hr>
      <input type="number" name="project_estimate" value="{{estimate}}" disabled placeholder="Project Estimate" class="input_material auth">
      <input type="number" name="deposit_amount" placeholder="Deposit Amount" class="input_material auth">
      <br><br>
      <input type="checkbox" name="recurring" id="recurring" style="display: inline-block; margin-right: 10px"><label class="steel" for="recurring"> Recurring Payment</label>
      <hr>
      <br>
      <a href="/home" class="btn btn-white" style="width: 40%" name="save">Save as Draft</a>
      <button class="btn btn-white signup" style="width: 40%" name="next">Next</button>

    </div>

    <div class="col-md-6">
      {{#if textBox}}
        <br>
        <br>
        <br>
        <textarea name="deferral" class="input_material area" rows="8" cols="80" placeholder="Describe the Payment Scope"></textarea>
      {{/if}}
    </div>

    </div>



</template>
