<template name="letters">
  <div class="row_title">
    <h3>Letters</h3>
    
  </div>
  <div class="container-flex">
    <div class="letter">
      <p class="top">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <a href="/new_letter">New Letter</a>
      </p>
    </div>
    {{#each letters}}
    <div class="letter">
      <p style="position: relative; top: 10px; left: 195px; z-index: 1001; width: 15px; height: 15px;"><i id="remove_letter" class="fa fa-trash" aria-hidden="true"></i></p>
      <p style="margin: 5px auto">{{client_name}} </p> <p style="margin: 5px auto"> {{lawyer}}</p>
      <br>
      <p style="margin: 5px auto">
        <a href="/view_letter/{{this._id}}" class="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a href="/edit_letter/{{this._id}}" class="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </p>
    </div>
    {{/each}}
  </div>
</template>
