<template name="Write_Exclusion">
  <br>
  <div class="row">
    <div class="col-md-9">
      <h4 class="teal"><a href="/new_letter/" class="teal"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Step 3 - Write Exclusion</h4>
      <br>
      <div class="col-md-6" style="padding: 0">
        <label for="engagement_template" class="teal">Engagement Template</label>
        <br>
        <select class="input_material auth" id="engagement_template" name="engagement_template" style="width: 80%;
      margin: 20px auto;">
          <option value="0">Template 1</option>
          <option value="1">Template 2</option>
          <option value="0">Template 3</option>
        </select>
      </div>
      <br>
      <textarea name="engagement" class="input_material area" rows="8" cols="80" placeholder="Describe work outside of scope"></textarea>
      <br>
      <a href="/new_letter/step_3" class="btn btn-white signup" name="next">Next</a>
    </div>


  </div>
  <br>
</template>
